@import '../../vars.scss';

.headerContainer {
  position: sticky;
  display: flex;
  justify-content: space-between;
	align-items: center;
  top: 0;
  left: 0;
  height: 50px;
	padding: 0 20px;
	z-index: 9999;
  background-color: $accentColor;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
	.logo{
		height: 100%;
		background-color: white;
		color: black;
		height: fit-content;
		border-radius: 5px;
		padding: 5px;
		text-decoration: none;
		box-sizing: border-box;		
	}
  .shoppingCart {
		position: relative;
		padding: 10px;
		height: 100%;
		box-sizing: border-box;
    img {
      height: 100%;
			aspect-ratio: 1;
    }
		.count{
			position: absolute;
			top: 0;
			right: 0;
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			color: white;
			background-color: rgb(228, 92, 43);
		}
  }
}
